* {
  box-sizing: border-box;
}
body {
  background-color: rgb(33, 33, 45);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}
h3 {
  border-bottom: 1px solid rgb(173, 173, 173);
  padding-bottom: 5px;
}
/* .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
} */

.main-logo {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  color: white;
}
.main-logo + svg {
  margin-right: 10px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}

a {
  display: flex;
  align-items: center;
  color: rgb(109, 112, 126);
  text-decoration: none;
  margin-right: 20px;
}
a:hover {
  text-decoration: underline;
}

.btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
  transform: translateY(-2px);
}
.btn:hover {
  background-color: rgba(173, 173, 173, 0.204);
}
.subNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  background-color: rgb(44, 44, 56);
  padding: 0 20px;
  border-bottom: 1px solid rgba(173, 173, 173, 0.204);
}

aside {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(44, 44, 56);
  overflow-x: hidden;
  border-right: 1px solid rgba(173, 173, 173, 0.204);
}

.main {
  padding-left: 250px;
}
.button {
  color: #fff;
}
