@import "./colors";

.mainLogo {
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  font-size: 25px;
}
.link {
  color: $nav-button;
  width: 100%;
  padding: 10px 0px 10px 25px;
  font-weight: 400;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.logoText {
  font-weight: 600;
  margin-left: 10px;
}
.navBox {
  width: 90%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  &:hover {
    background-color: $nav-button-hover;
  }
}
.border {
  margin-top: 20px;
  display: block;
  border-bottom: 1px solid $border-color;
}
.navItemText {
  margin-left: 10px;
}
.nightMode {
  margin: 10px 55px 10px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
