@import "./colors";

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(173, 173, 173, 0.204);
}

.userBox {
  display: flex;
  margin: 10px 0;
  height: 100px;
  padding: 5px;
  border-bottom: 0.5px solid $border-color;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  background-color: $lighter-dark;

  &:hover {
    background-color: $border-color;
    text-decoration: none;
  }
}

.topNavBox {
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $border-color;
}
.topNavElement {
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 5px solid $border-color;
}

.usersContainer {
  padding: 0 20px;
}

.userInfoContentBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  margin: 20px;
  &_info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    .infoText {
      opacity: 0.4;
    }
  }
}

.userTabs {
  width: max-content;
}

.userWrapper {
  width: 100%;
  display: flex;
  margin: 0 20px;
  justify-content: space-between;
  align-items: center;
  span {
    margin: 0 15px;
  }
}

.userMainInfo {
  display: flex;
  width: 25vw;
  align-items: center;
  img {
    border-radius: 50%;
  }
}
.usernameBox {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.userPhoto {
  width: 70px;
  height: 70px;
}
.deleteUser {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 18px;
  :hover {
    color: rgb(255, 0, 0);
  }
}

.otherInfo {
  opacity: 0.8;
}
.userNickname {
  font-style: italic;
  opacity: .5;
}