.mainLogo {
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  color: white;
}
.link {
  color: rgb(147, 148, 154);
  width: 100%;
  padding: 10px 0px 10px 25px;
  font-weight: 400;
  &:hover {
    color: #fff;
  text-decoration: none;

  }
}
.logoText {
  color: #fff;
  font-weight: 600;
  margin-left: 10px;
}
.navBox {
  width: 90%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  &:hover {
    background-color: rgb(100, 95, 198);
  }
}
.border {
  margin-top: 20px;
  display: block;
  border-bottom: 1px solid rgba(173, 173, 173, 0.204);
}
.navItemText {
  margin-left: 10px;
}
.nightMode {
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(33, 33, 45);
}
